@{
    ViewData["Title"] = "RezervacijaPrijavljen";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/zaPocetnu.js"></script>
    <title></title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="main">


        @using (Html.BeginForm("Validacija", "RezervacijaPrijavljen")){
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../slike/car2.png" alt="sing up image"></figure>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Rezervacija</h2>

                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="lokacijaPreuzimanja" id="your_name" placeholder="Lokacija preuzimanja" />
                        </div>

                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="lokacijaVracanja" id="your_name" placeholder="Lokacija vraćanja" />
                        </div>

                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="datumOD" id="your_name" placeholder="Datum od (OBAVEZNO u formatu dd/MM/gggg)" />
                        </div>


                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="datumDO" id="your_name" placeholder="Datum do (OBAVEZNO u formatu dd/MM/gggg)" />
                        </div>

                        <p>Način plaćanja</p>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="navigacija" class="agree-term" />
                            <label for="navigacija" class="label-agree-term"><span><span></span></span>Sada</label>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Broj katrice" />
                            </div>

                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_pass" id="your_pass" placeholder="Banka" />
                            </div>


                            <input type="checkbox" name="remember-me" id="priPreuzimanju" class="agree-term" />
                            <label for="priPreuzimanju" class="label-agree-term"><span><span></span></span>Pri preuzimanju</label>

                        </div>


                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="imeIPrezime" id="your_name" placeholder="Ime i prezime" />
                        </div>

                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="datumRodjenja" id="your_name" placeholder="Datum rođenja (OBAVEZNO u formatu dd/MM/gggg)" />
                        </div>

                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="brojTelefona" id="your_name" placeholder="Broj telefona" />
                        </div>


                        <div class="form-group form-button">
                            <button type="submit" name="signin" id="signin" class="form-submit"> Rezerviši</button>                        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        }
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
