@{
    ViewData["Title"] = "NotifikacijaPrijave";
}


<div class="popup">
    <link href="~/css/zaNotifikacijuPrijave.css" rel="stylesheet" type="text/css" media="all" />
    <a href="#" class="close">

    </a>
    <h1>GREŠKA!</h1>
    <p>Pokušajte ponovo</p>
    <div class="bottom-popup">
        @Html.ActionLink("Nazad", "NazadOnClick", "NotifikacijaPrijave", null, new { @class="nazad" })
    </div>
</div>


