@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img src="~/images/slikaKontakt.png" alt="Visual Studio" class="img-responsive" align="right"/><br />

<address>
    Zmaja od Bosne bb<br />
    71000 Sarajevo, Bosna i Hercegoviva<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:rent.a.car.ba@gmail.com">rent.a.car.ba@gmail.com</a> <br />
    <strong>Kontakt telefon: </strong> +387 33 123 456 <br />
    <strong>Kontakt mobilni: </strong> +387 61 111 222 <br />
    <strong>Fax: </strong> +387 33 555 666 <br />
</address>
