@{
    ViewData["Title"] = "Uslovi";
}
<html>
<body>

    <h2>OVO CE BITI STRANA ZA USLOVE</h2>

    <img src="~/images/pocetnaSlika.jpg" alt="Visual Studio" class="img-responsive" />

</body>
</html>
